---
import HomeIcon from "@/icons/Home.astro";
import SearchIcon from "@/icons/Search.astro";
import AsideMenuItem from "./AsideMenuItem.astro";
---

<div class="bg-zinc-900 rounded-lg p-2">
  <ul>
    <AsideMenuItem href="/">
      <HomeIcon />
      Home
    </AsideMenuItem>
    <AsideMenuItem href="/#">
      <SearchIcon />
      Search
    </AsideMenuItem>
  </ul>
</div>
